.about {
  width: 100%;
  height: 100vh;
  background-color: #f7f7f7;
  overflow-y: auto;
  scrollbar-width: none !important;
  display: flex;
  flex-direction: column;
  direction: rtl;
  padding-top: 8px;
  padding-bottom: 100px;
}
.about::-webkit-scrollbar {
  display: none !important;
}
.about-body {
  width: calc(100% - 16px);
  margin-right: 8px;
  background: white;
  padding: 24px 16px;
  border-radius: 24px;
}
.about-main {
  width: 100% !important;
  padding: 0 !important;
}
.about-main > div > div > div:last-child {
  right: 0 !important;
  font-size: 42px !important;
  width: 240px !important;
  top: 0 !important;
}
.about-certificates {
  width: 100%;
  padding-top: 8px;
}
.about-certificates-slider-item {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 48px 0;
}
.about-certificates-slider-item > img:nth-child(1) {
  position: absolute;
  z-index: -1;
  right: 60px;
  top: 25px;
}
.about-certificates > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-certificates > div:nth-child(2) > div:nth-child(1) {
  font-weight: 900;
  font-size: 22px;
}
.about-certificates > div:nth-child(2) > div:nth-child(2) {
  font-size: 22px;
  margin: 8px 0;
}
.about-certificates > div:nth-child(2) > div:nth-child(3) {
  text-align: justify;
  color: #3b3b3b;
  line-height: 2;
}
.about-services {
  padding-top: 8px;
}
.about-services-slider-item {
  width: 70%;
  padding: 48px 16px 24px 16px;
  background: #ffffff;
  box-shadow: 0px 14px 14px rgba(0, 0, 0, 0.2);
  border-radius: 116px 116px 56px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-services-slider-item > img {
  width: 100%;
}
.about-services-slider-item > div:nth-child(2) {
  margin-top: 8px;
  color: #40b1d1;
  font-size: 32px;
}
.about-services-slider-item > div:nth-child(3) {
  color: #3b3b3b;
  font-size: 24px;
}
.about-services > div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-services > div:nth-child(2) > div {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-services > div:nth-child(2) > div:nth-child(2) {
  border-right: 1px solid #e1e1e1;
  border-left: 1px solid #e1e1e1;
}
.about-services > div:nth-child(2) > div > div:nth-child(1) {
  font-size: 20px;
}
.about-services > div:nth-child(2) > div > div:nth-child(2) {
  font-size: 14px;
  color: #9e9e9e;
}
.about-teachers {
  padding-top: 8px;
}
.about-teachers-slider-item {
  width: 100%;
  height: 100% !important;
  background: #ffffff;
  box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.02);
  border-radius: 116px 116px 8px 8px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-teachers-slider-item > img:nth-child(1) {
  margin-bottom: 16px;
}
.about-teachers-slider-item > div:nth-child(2) {
  font-size: 18px;
}
.about-teachers-slider-item > div:nth-child(3) {
  color: #3b3b3b;
  margin-top: 4px;
}
.about-teachers-slider-item > div:nth-child(4) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 16px 0;
}
.about-teachers-slider-item > div:nth-child(4) > div {
  width: 33%;
  display: flex;
  justify-content: center;
  transition: opacity 0.3s;
}
.about-teachers-slider-item > div:nth-child(4) > div:active {
  opacity: 0.5;
}
.about-teachers-slider-item > div:nth-child(4) > div:nth-child(2) {
  border-right: 1px solid #e1e1e1;
  border-left: 1px solid #e1e1e1;
}
.about-teachers-slider-item > div:nth-child(5) {
  width: 100%;
  height: 1px;
  background: #e1e1e1;
  margin: 24px 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-teachers-slider-item > div:nth-child(5) > div {
  position: absolute;
  background-color: white;
  z-index: 99;
  padding: 0 12px;
  color: #626262;
}
.about-teachers-slider-item > div:nth-child(6) {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.about-teachers-slider-item > div:nth-child(6) > div {
  background: #f7f7f7;
  border-radius: 32px;
  padding: 5px 10px;
  margin-bottom: 8px;
}
.about-contacts {
  padding-top: 8px;
  width: 100%;
}
.about-contacts > div:nth-child(1) {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}
.about-contacts > div:nth-child(1) > div:nth-child(1) {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f7f7f7;
  border-radius: 56px;
  padding: 8px 12px;
}
.about-contacts > div:nth-child(1) > div:nth-child(1) > img {
  transition: opacity 0.3s;
  padding: 16px 0;
  border-bottom: 1px solid #e1e1e1;
}
.about-contacts > div:nth-child(1) > div:nth-child(1) > img:last-child {
  border: none;
}
.about-contacts > div:nth-child(1) > div:nth-child(1) > img:active {
  opacity: 0.5;
}
.about-contacts > div:nth-child(1) > div:nth-child(2) {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
}
.about-contacts > div:nth-child(1) > div:nth-child(2) > img:nth-child(1) {
  position: absolute;
  z-index: 8;
  top: 10px;
  left: 30px;
}
.about-contacts > div:nth-child(1) > div:nth-child(2) > img:nth-child(2) {
  z-index: 9;
}
.about-contacts > div:nth-child(2) > div {
  display: flex;
  align-items: center;
  color: #222222;
  padding: 8px 0;
  border-bottom: 1px solid #f7f7f7;
}
.about-contacts > div:nth-child(2) > div > div:nth-child(1) {
  min-width: 40px;
  min-height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  background: #f7f7f7;
  border-radius: 40px 40px 16px 0px;
}
.about-add-comment-button {
  position: fixed;
  width: 108px !important;
  bottom: 96px;
  left: 8px;
  z-index: 99999;
  border: none;
}
.about-add-comment-button img {
  margin-left: 8px;
}
.about-comments {
  padding-top: 8px;
}
.about-comments-slider-item {
  background: #ffffff;
  box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.02);
  border-radius: 24px;
  padding: 16px;
  position: relative;
}
.about-comments-slider-item > div:nth-child(1) {
  position: absolute;
  top: 16px;
  left: 16px;
  display: flex;
  align-items: center;
  color: #626262;
}
.about-comments-slider-item > div:nth-child(1) > div {
  margin-left: 4px;
  font-size: 13px;
  padding-top: 3px;
}
.about-comments-slider-item > div:nth-child(1) > img {
  width: 20px;
}
.about-comments-slider-item > div:nth-child(2) {
  width: 100%;
  display: flex;
  align-items: center;
}
.about-comments-slider-item > div:nth-child(2) > div:nth-child(1) {
  margin-left: 8px;
  min-width: 48px;
  min-height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e4ffec;
  border-radius: 40px 40px 16px 0px;
  color: #23cb52;
  font-size: 18px;
}
.about-comments-slider-item
  > div:nth-child(2)
  > div:nth-child(2)
  > div:nth-child(2) {
  color: #626262;
  font-size: 12px;
  margin-top: 4px;
}
.about-comments-slider-item > div:nth-child(3) {
  color: #222222;
  margin-top: 8px;
}
.about-comments-voice {
  margin: 16px 0;
}
.about-comments-slider-item > div:nth-child(5) {
  display: flex;
  justify-content: space-between;
}
.about-comments-slider-item > div:nth-child(5) > div {
  width: 50%;
}
.about-comments-slider-item > div:nth-child(5) > div img {
  width: 100%;
}
.about-comments-slider-item > div:nth-child(5) > div:nth-child(2) {
  margin-right: 8px;
}
.about-comments-slider-item
  > div:nth-child(5)
  > div:nth-child(2)
  > img:nth-child(1) {
  margin-bottom: 8px;
}

@media only screen and (max-width: 400px) {
  .about-certificates-slider-item > img:nth-child(1) {
    right: 35px;
  }
  .about-contacts > div:nth-child(1) > div:nth-child(2) > img:nth-child(1) {
    top: 5px;
    left: 10px;
  }
}
@media only screen and (max-width: 375px) {
  .about-teachers-slider-item > div:nth-child(6) > div {
    font-size: 12px;
  }
  .about-contacts > div:nth-child(1) > div:nth-child(2) > img:nth-child(1) {
    top: 5px;
    left: 0px;
  }
}
@media only screen and (max-width: 350px) {
  .about-main > div > div > div:last-child {
    right: 0 !important;
    font-size: 32px !important;
    width: 200px !important;
    top: 0 !important;
  }
  .about-certificates-slider-item > img:nth-child(1) {
    right: 20px;
  }
  .about-certificates > div:nth-child(2) > div:nth-child(1) {
    font-size: 18px;
  }
  .about-certificates > div:nth-child(2) > div:nth-child(2) {
    font-size: 18px;
  }
  .about-certificates > div:nth-child(2) > div:nth-child(3) {
    font-size: 12px;
  }
  .about-teachers-slider-item > div:nth-child(2) {
    font-size: 14px;
  }
  .about-teachers-slider-item > div:nth-child(3) {
    font-size: 12px;
  }
  .about-teachers-slider-item > div:nth-child(6) > div {
    font-size: 10px;
  }
  .about-teachers-slider-item > div:nth-child(5) > div {
    font-size: 12px;
  }
  .about-contacts > div:nth-child(1) > div:nth-child(1) {
    margin-left: 8px;
    padding: 5px 8px;
  }
  .about-contacts > div:nth-child(2) > div {
    font-size: 12px;
  }
  .about-comments-slider-item > div:nth-child(3) {
    font-size: 12px;
  }
}
