.login {
  width: 100%;
  height: 100vh;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}
.login-body {
  width: 100%;
  height: 100%;
  background-color: #051115;
  border-radius: 156px 156px 0 0;
  padding: 50px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.login-logo {
  width: 140px;
  height: 230px;
}
.login-title {
  font-family: iranSansBold !important;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  text-transform: capitalize;
  color: #d9b88b;
  margin: 10px 0;
}
.login-subtitle {
  color: #f7f7f7;
  text-align: center;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 15px;
}
.login-mobile-input {
  background: #222222 !important;
  border: 1px solid #3b3b3b !important;
  margin: 10px 0;
}
.login-mobile-input > input {
  color: white !important;
}
.login-policy {
  width: 100%;
  direction: rtl;
  margin: 10px 0 15px 0;
}
.login-submit {
  border: none !important;
}
.login-timeout {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  text-transform: capitalize;
  color: #753418;
}
.login-resend-code {
  color: #40b1d1;
  margin: 10px 0;
  font-size: 18px;
}
.login-resend-area {
  margin-top: 30px;
}
.login-resend-area > span:nth-child(2) {
  margin: 0 10px;
  color: #9e9e9e;
}
.login-resend-area > span {
  color: #4086ef;
}
.login-upload {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.login-upload > div {
  width: 130px;
  height: 150px;
  border: 1px solid #3b3b3b;
  border-radius: 62px 62px 32px 0px;
  background: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-upload > button {
  width: 130px;
  margin-top: 15px;
  background: transparent !important;
}
.login-form-field {
  width: 100%;
  margin: 10px 0;
  direction: rtl;
}
.login-form-field > span {
  padding-right: 10px;
  color: #f7f7f7;
}
.login-form-field > div,
.login-form-field > input {
  margin-top: 5px;
  border: none !important;
  border-radius: 30px !important;
  background: #222222 !important;
}
.login-form-datepicker {
  width: 100% !important;
  border: none !important;
  border-radius: 30px !important;
  background: #222222 !important;
}
.DatePicker {
  width: 100%;
}
.DatePicker > input {
  transition: border 0.25s;
}
.DatePicker > input:focus {
  outline: none !important;
  border: 1px solid #40b1d1 !important;
}
.login-form-actions {
  width: 100%;
  margin-top: auto;
  display: flex;
  align-items: center;
  direction: rtl;
}
.login-form-actions > button:nth-child(1) {
  width: 75%;
  margin-left: 10px;
  border: none !important;
}
.login-form-actions > button:nth-child(2) {
  width: 25%;
  background: transparent !important;
  border: 1px solid #626262 !important;
  color: white !important;
}

@media only screen and (max-height: 700px) {
  .login-body {
    overflow-y: auto;
    scrollbar-width: none !important;
  }
  .login-body::-webkit-scrollbar {
    display: none !important;
  }
  .login-logo {
    width: 100px;
    height: 180px;
  }
  .login-title {
    font-size: 26px;
  }
  .login-subtitle {
    font-size: 12px;
  }
  .login-resend-area > span {
    font-size: 12px;
  }
  .login-policy span {
    font-size: 10px !important;
  }
  .login-upload {
    margin-bottom: 10px;
  }
  .login-upload > div {
    width: 110px;
    height: 130px;
  }
  .login-upload > button {
    width: 110px;
  }
  .login-form-field {
    margin: 5px 0;
  }
  .login-form-field > span {
    font-size: 14px;
  }
}
