.account {
  width: 100%;
  height: 100vh;
  background-color: #f7f7f7;
  overflow-y: auto;
  scrollbar-width: none !important;
  display: flex;
  flex-direction: column;
  padding: 8px;
  padding-bottom: 10px;
  direction: rtl;
}
.account::-webkit-scrollbar {
  display: none !important;
}
.profile-account-body {
  width: 100%;
  background: #ffffff;
  border-radius: 24px;
  padding: 16px;
  margin-top: 8px;
}
.account-form-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}
.account-form-field > div:nth-child(1) {
  margin-bottom: 8px;
  padding-right: 8px;
  color: #3b3b3b;
}
.account-form-field > div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.account-form-field > div:nth-child(2) > input {
  width: 85% !important;
}
.account-form-field > div:nth-child(2) > div,
.account-form-field > div:nth-child(2) > img {
  margin-right: 16px;
}
.account-form-field > div:nth-child(2) > div {
  min-width: 30px;
  min-height: 30px;
  border-radius: 50%;
  background: #40b1d1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.account-full-input > div:nth-child(2) > input {
  width: 100% !important;
}
.profile-account-upload > div {
  background: #f7f7f7 !important;
  border: 1px solid #e1e1e1 !important;
}
.account-picker > div > input {
  background: #f7f7f7 !important;
  border: 1px solid #e1e1e1 !important;
}
@media only screen and (max-width: 350px) {
  .account-form-field > div:nth-child(2) > input {
    width: 80% !important;
  }
  .account-full-input > div:nth-child(2) > input {
    width: 100% !important;
  }
}
