.profile-addresses {
  width: 100%;
  height: 100vh;
  background-color: #f7f7f7;
  overflow-y: auto;
  scrollbar-width: none !important;
  display: flex;
  flex-direction: column;
  padding: 8px;
  padding-bottom: 10px;
  direction: rtl;
  padding-bottom: 80px;
}
.profile-addresses::-webkit-scrollbar {
  display: none !important;
}
.profile-addresses-add-button {
  position: fixed;
  bottom: 24px;
  left: 16px;
  width: 120px;
  height: 50px;
}
.profile-addresses-add-button > img {
  margin-left: 8px;
}
.profile-addresses-list {
  margin-top: 8px;
  background: #ffffff;
  border-radius: 24px;
  padding: 16px;
}
.profile-addresses-list > div {
  border-bottom: 1px solid #f7f7f7;
  padding: 16px 0;
  display: flex;
  align-items: flex-start;
}
.profile-addresses-list > div > div:nth-child(1) {
  margin-left: 8px;
  min-width: 40px;
  min-height: 48px;
  background: #f7f7f7;
  border-radius: 40px 40px 16px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-addresses-list > div > div:nth-child(2) {
  color: #626262;
}
.profile-addresses-list > div > div:nth-child(2) > div:nth-child(1) {
  font-size: 14px;
}
.profile-addresses-list > div > div:nth-child(2) > div {
  font-size: 12px;
  margin: 8px 0;
}
.profile-addresses-list > div > img:nth-child(3) {
  transition: opacity 0.3s;
  margin-right: 8px;
}
.profile-addresses-list > div > img:nth-child(3):active {
  opacity: 0.5;
}
.profile-addresses-add-modal {
  background: white;
  height: 100vh;
  padding-bottom: 100px;
  overflow-y: auto;
  scrollbar-width: none !important;
}
.profile-addresses-add-modal::-webkit-scrollbar {
  display: none !important;
}
.profile-addresses-add-modal-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  border-bottom: 1px solid #e1e1e1;
  color: #222222;
  font-size: 16px;
  margin-bottom: 16px;
}
.profile-addresses-add-modal-header > img {
  transition: opacity 0.3s;
  position: absolute;
  left: 24px;
}
.profile-addresses-add-modal-header > img:active {
  opacity: 0.5;
}
.profile-addresses-add-modal-actions {
  width: calc(100% - 16px);
  height: 80px;
  background: #051115;
  border-radius: 24px;
  position: absolute;
  bottom: 8px;
  left: 8px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  z-index: 999999999999;
}
.profile-addresses-add-modal-actions > button:nth-child(1) {
  width: 70% !important;
  border: none;
  margin-left: 16px;
}
.profile-addresses-add-modal-actions > button:nth-child(2) {
  width: 30% !important;
  background: transparent !important;
}
.map-marker {
  transition: opacity 0.5s;
}
.map-marker:active {
  opacity: 0.3;
}
.profile-addresses-add-form {
  padding: 0 8px;
}
.profile-addresses-add-form-address-name {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.profile-addresses-add-form-address-name > div:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  color: #3b3b3b;
}
.profile-addresses-add-form-address-name
  > div:nth-child(1)
  > span:nth-child(2) {
  color: #40b1d1;
}
.profile-addresses-add-form-address-name > div:nth-child(2) {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  margin-top: 8px;
  background: #f7f7f7;
  border-radius: 50px;
  height: 50px;
}
.profile-addresses-add-form-field {
  margin-top: 16px;
}
.profile-addresses-add-form-field > div:nth-child(1) {
  margin-bottom: 8px;
  color: #3b3b3b;
  padding: 0 16px;
}
.profile-addresses-add-form-field > div:nth-child(3) {
  margin-top: 8px;
  font-size: 12px;
  padding: 0 16px;
  color: #9e9e9e;
}
.profile-addresses-add-form-field-half {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile-addresses-add-form-field-half > div {
  width: 45%;
}
.profile-addresses-add-form-radio {
  display: flex;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  margin-top: 8px;
  background: #f7f7f7;
  height: 50px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  font-size: 14px;
}
.profile-addresses-add-form-radio > div:nth-child(1) {
  width: 16px;
  height: 16px;
  margin-left: 8px;
  border-radius: 50%;
  background: white;
  border: 1.5px solid #cfcfcf;
}
.mv-radio-selected > div:nth-child(1) {
  transition: background 0.4s;
  background: #40b1d1;
}
@media only screen and (max-width: 375px) {
  .profile-addresses-add-modal-header {
    height: 60px;
    font-size: 14px;
  }
  .profile-addresses-add-modal-actions {
    height: 70px;
  }
  .profile-addresses-add-form-field > div:nth-child(1),
  .profile-addresses-add-form-address-name > div:nth-child(1) {
    font-size: 12px;
  }
  .profile-addresses-add-form-radio,
  .profile-addresses-add-form-address-name > div:nth-child(2) {
    height: 40px;
    font-size: 12px !important;
  }
}
