.buy-course {
  width: 100%;
  height: 100vh;
  background-color: #f7f7f7;
  overflow-y: auto;
  scrollbar-width: none !important;
  display: flex;
  flex-direction: column;
  direction: rtl;
  padding-top: 8px;
}
.buy-course::-webkit-scrollbar {
  display: none !important;
}
.buy-course-header {
  width: calc(100% - 16px);
  margin-right: 8px;
  background: #051115;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  height: 70px;
  color: white;
  margin-bottom: 8px;
}
.buy-course-header > img {
  transition: opacity 0.3s;
}
.buy-course-header > img:active {
  opacity: 0.5;
}
.buy-course-header > div:nth-child(3) {
  direction: ltr;
}
.buy-course-body {
  width: 100%;
  height: calc(100vh - 86px);
}
.buy-course-body > div:nth-child(1) {
  width: 100%;
  height: 35%;
  background: #f7f7f7;
}
.buy-course-step-slide {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buy-course-step-slide > img:nth-child(1) {
  margin-bottom: 16px;
}
.buy-course-step-slide > div:nth-child(2) {
  font-size: 16px;
}
.buy-course-step-slide > div:nth-child(3) {
  width: 100%;
  height: 2px;
  margin-top: 24px;
  background-color: #e1e1e1;
  display: flex;
  justify-content: center;
  position: relative;
}
.buy-course-step-slide > div:nth-child(3) > div {
  width: 32px;
  height: 32px;
  background: #f7f7f7;
  border: 1.5px solid #e1e1e1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  position: absolute;
  bottom: -16px;
  z-index: 9999999999;
  color: black;
  border-radius: 32px;
}
.buy-course-radio-selected {
  width: 24px !important;
  height: 24px !important;
  background: #23cb52 !important;
  border: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buy-course-radio-selected > div {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #f7f7f7;
}
.buy-course-line-selected {
  background: #23cb52 !important;
  height: 3px !important;
  transition: background 0.3s;
}
.buy-course-body > div:nth-child(2) {
  width: 100%;
  height: 65%;
  background: white;
  border-radius: 24px 24px 0px 0px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: none !important;
}
.buy-course-body > div:nth-child(2)::-webkit-scrollbar {
  display: none !important;
}
.buy-course-next-button {
  margin-top: auto;
  background: #eaf7fa !important;
  color: #84cde1 !important;
  border: none !important;
}
.buy-course-next-button:not(:disabled):hover {
  color: #40b1d1 !important;
}
.buy-course-form-field {
  margin-bottom: 16px;
}
.buy-course-form-field > div:nth-child(1) {
  margin-bottom: 8px;
  color: #3b3b3b;
  padding: 0 16px;
}
.buy-course-form-field > div:nth-child(3) {
  margin-top: 8px;
  font-size: 12px;
  padding: 0 16px;
  color: #9e9e9e;
}
.buy-course-form-field-half {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buy-course-form-field-half > div {
  width: 45%;
}
.buy-course-alert {
  width: 100%;
  height: 64px;
  background: #fffaec;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 8px;
  margin-bottom: 24px;
}
.buy-course-alert > div:nth-child(1) {
  margin-left: 8px;
  min-width: 40px;
  min-height: 48px;
  background: #fbc12e;
  border-radius: 40px 40px 16px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buy-course-alert > div:nth-child(2) {
  color: #626262;
  font-size: 14px;
}
.buy-course-upload {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.buy-course-upload > div:nth-child(1) {
  padding-right: 16px;
  margin-bottom: 8px;
  color: #3b3b3b;
}
.buy-course-upload > div:nth-child(2) {
  display: flex;
  align-items: center;
}
.buy-course-upload > div:nth-child(2) > div {
  margin-left: 8px;
  width: 80%;
  background: #f7f7f7;
  border: 1px solid #e1e1e1;
  border-radius: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  padding-right: 16px;
}
.buy-course-upload > div:nth-child(2) > button {
  width: 88px;
}
#buy-course-remove-file-button {
  border: 1px solid #f54851 !important;
  color: #f54851 !important;
}

@media only screen and (max-width: 375px) {
  .buy-course-form-field > div:nth-child(1) {
    font-size: 12px;
  }
  .buy-course-alert > div:nth-child(2) {
    font-size: 12px;
  }
  .buy-course-upload > div:nth-child(2) > div {
    height: 40px;
  }
}
