.view-course-teacher {
  padding: 4px 8px;
  background: #f7f7f7;
  border-radius: 24px;
  display: inline;
}
.courses-card-button {
  position: fixed;
  bottom: 90px;
  left: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  min-height: 56px;
  background: #40b1d1;
  border-radius: 32px;
}
